body{
    height: 100%;
    width: 100%;
    max-width: 5px 0;
   

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-family:cursive;
    font-size: 50px;
    color: darkolivegreen;
    text-transform: uppercase;
}
.enter{
    text-align: center;
}
.bg{
    background-color:rgba(3, 3, 3, 0);
    
    border-radius: 20px;
    margin: auto;
    width: 22%;
    height: 50%;

}
.row{
    margin: 5px 0;
    
   
}
.button{
    font-size: 20px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid rgb(13, 13, 14);
    border-radius: 10%;
    cursor: pointer;
    width: 66px;
    background-color: rgb(9, 8, 8);
    background: linear-gradient(rgba(122, 37, 202, 0.8),rgba(237, 223, 223, 0.2) );
}
.row button:hover{
    color: rgb(228, 37, 7);
}
.mxauto{
    margin: auto;
    max-width: 40vw;
}
.flex{
    display:flex;
}
.flex-auto{
    flex-direction: column;
}
.itemcenter{
    align-items: center;
}
.row input{
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: 292px;
    background-color: rgb(200, 192, 239);
}
.component{
    width: 50px;
    height: 50px;
    background-color: black;
}